@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<div class="container mt-5">
    <h3 class="text-center fw-bold">@ViewData["Title"]</h3>

    <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="needs-validation" novalidate>
        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert"></div>

        <div class="row g-3">
            <div class="col-md-6">
                <label asp-for="Input.FirstName" class="form-label fw-bold ">First Name</label>
                <input asp-for="Input.FirstName" class="form-control" autocomplete="firstname" required />
                <span asp-validation-for="Input.FirstName" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="Input.LastName" class="form-label fw-bold">Last Name</label>
                <input asp-for="Input.LastName" class="form-control" autocomplete="lastname" required />
                <span asp-validation-for="Input.LastName" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="Input.MobilePhone" class="form-label fw-bold ">Mobile Phone</label>
                <input asp-for="Input.MobilePhone" class="form-control" autocomplete="mobilephone" required />
                <span asp-validation-for="Input.MobilePhone" class="text-danger"></span>
            </div>

            <div class="col-md-6">
                <label asp-for="Input.UserName" class="form-label fw-bold">Username</label>
                <input asp-for="Input.UserName" class="form-control" autocomplete="username" required />
                <span asp-validation-for="Input.UserName" class="text-danger"></span>
            </div>

            <div class="col-md-12">
                <label asp-for="Input.Password" class="form-label fw-bold">Password</label>
                <input asp-for="Input.Password" type="password" class="form-control" autocomplete="new-password" required />
                <span asp-validation-for="Input.Password" class="text-danger"></span>
            </div>

            <div class="col-12 text-center">
                <button id="registerSubmit" type="submit" class="btn btn-primary btn-lg mt-4">Register</button>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
